<div class="container">
  <div class="box sun box-sand"></div>
  <div class="box box-pink">
    <div class="tail">
      <div class="de-tail tail-left"></div>
      <div class="de-tail tail-right"></div>
    </div>
  </div>
  <div class="box box-turqsub">
    <div class="face">
      <div class="mouth"></div>
    </div>
    <div class="fin"></div>
  </div>
  <div class="box box-turq">
    <div class="belly"></div>
    <div class="disclaimer">
      <p>
        Dribbble shot
        <a href="https://dribbble.com/shots/3381074-Animals">Animals</a>
        by
        <a href="https://twitter.com/dennishoogstad">@Dennis Hoogstad</a>
      </p>
    </div>
  </div>
</div>

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
  <!--<![endif]-->
  <head>
    <title>Wayo - Heavy and Gentle.</title>
    {% load static %}
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Wayo Consulting" />
    <meta name="author" content="Keisy Daniel Barcellos" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />
    <link
      id="theme-style"
      rel="stylesheet"
      href="{% static 'assets/css/whale.css' %}"
    />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
      //firebase script
    <![endif]-->

    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAzqd-E3xcyaxd2_wG9p__HwZcR9SmeXWw",
        authDomain: "meetrixweb.firebaseapp.com",
        databaseURL: "https://meetrixweb.firebaseio.com",
        projectId: "meetrixweb",
        storageBucket: "",
        messagingSenderId: "51993953473",
      };
      firebase.initializeApp(config);
    </script>
  </head>

  <body>
    <div class="container">
      <div class="box sun box-sand"></div>
      <div class="box box-pink">
        <div class="tail">
          <div class="de-tail tail-left"></div>
          <div class="de-tail tail-right"></div>
        </div>
      </div>
      <div class="box box-turqsub">
        <div class="face">
          <div class="mouth"></div>
        </div>
        <div class="fin"></div>
      </div>
      <div class="box box-turq">
        <div class="belly"></div>
        <div class="disclaimer">
          <p>
            Dribbble shot
            <a href="https://dribbble.com/shots/3381074-Animals">Animals</a> by
            <a href="https://twitter.com/dennishoogstad">@Dennis Hoogstad</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
